<form borrowerInfo="ngForm" class="form-horizontal">
    <mat-card class="borPanel">
        <mat-card-title>
            <button mat-raised-button class="fullLoanApp-primary-button" (click)="borsidenav.open()">Show Task</button>
        </mat-card-title>
        <mat-card-content>
            <mat-sidenav-container class="side-nav-container">
                <mat-sidenav #borsidenav class="sidenav" mode="side" name="borsidenav">
                    <!--<section class="side-menu-section-common section-side-closer" (click)="borsidenav.close()">X</section>-->
                    <section class="side-menu-section-common side-menu-section-header">Borrower Workspace</section>
                    <section class="side-menu-section-common sectionClicked" (click)="navigateBorSection('primaryBorMain')" #primaryBorMain>Borrower Basic Information</section>
                    <section class="side-menu-section-common sectionNotClicked" (click)="navigateBorSection('primaryBorDetails')" #primaryBorDetails>Borrower Details</section>
                    <section class="side-menu-section-common sectionNotClicked" (click)="navigateBorSection('primaryBorAddr')" #primaryBorAddr
                        id="primaryBorAddr">Borrower Present Address</section>
                    <section class="side-menu-section-common sectionNotClicked" (click)="navigateBorSection('primaryBorMailingAddr')" #primaryBorMailingAddr>Mailing Address</section>
                    <section class="side-menu-section-common sectionNotClicked" (click)="navigateBorSection('primaryBorHousingInfo')" #primaryBorHousingInfo
                        id="primaryBorHousingInfo">Housing Status</section>
                    <section class="side-menu-section-common sectionNotClicked" (click)="navigateBorSection('spouseBasicInfo')" #spouseBasicInfo>Spouse Basic Info</section>
                    <section class="side-menu-section-common sectionNotClicked" (click)="navigateBorSection('spouseAddress')" #spouseAddress>Spouse Address</section>
                    <section class="side-menu-section-common sectionNotClicked" (click)="navigateBorSection('spouseMailingAddress')" #spouseMailingAddress>Spouse Mailing Address</section>
                    <section class="side-menu-section-common sectionNotClicked" (click)="navigateBorSection('orderViewCredit')" #orderViewCredit>Order/View Credit</section>
                    <section class="side-menu-section-common sectionNotClicked" (click)="navigateBorSection('creditPublicRecords')" #creditPublicRecords>Public Records</section>
                </mat-sidenav>
                <div class="div-main">
                    <div *ngIf="primaryBorMainVisible">
                        <app-bor-basic-info (childMenuEvent)="navigateNext($event)"></app-bor-basic-info>
                    </div>
                    <div *ngIf="primaryBorDetailsVisible">
                        <bor-details (childMenuEvent)="navigateNext($event)"></bor-details>
                    </div>
                    <div *ngIf="primaryBorAddrVisible" id="addressDivSection">
                        <bor-address (childMenuEvent)="navigateNext($event)"></bor-address>
                    </div>
                    <div *ngIf="primaryBorMailingAddrVisible" id="">
                        <bor-mailing-addr (childMenuEvent)="navigateNext($event)"></bor-mailing-addr>
                    </div>
                    <div *ngIf="primaryBorHousingInfoVisible" id="">
                        <bor-housing-status (childMenuEvent)="navigateNext($event)"></bor-housing-status>
                    </div>

                    <div *ngIf="spouseBasicInfoVisible" id="">
                        <spouse-basic-info (childMenuEvent)="navigateNext($event)"></spouse-basic-info>
                    </div>
                    <div *ngIf="spouseAddressVisible" id="">
                        <spouse-address (childMenuEvent)="navigateNext($event)"></spouse-address>
                    </div>
                    <div *ngIf="spouseMailingAddressVisible" id="">
                        <app-spouse-mailing-addr (childMenuEvent)="navigateNext($event)"></app-spouse-mailing-addr>
                    </div>
                    <div *ngIf="orderViewCreditVisible" id="">
                        <app-order-view-credit (childMenuEvent)="navigateNext($event)"></app-order-view-credit>
                    </div>
                    <div *ngIf="creditPublicRecordsVisible" id="">
                        <app-credit-public-records (childMenuEvent)="navigateNext($event)"></app-credit-public-records>
                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card-content>
    </mat-card>
</form>

<!--
<div class="onerow">
        <mat-form-field class="matformfield">
          <input class="form-control" type="text" matInput placeholder="Title will be held in what name(s)?" [(ngModel)]="loanDetail.TitleWillBeHeldInNames"
            name="TitleWillBeHeldInNames">
        </mat-form-field>
        <mat-form-field class="matformfield">
          <mat-select class="form-control matformfield" name="ManerTitleHeldType" [(ngModel)]="loanDetail.ManerTitleHeldType" placeholder="Manner in which title will be held">
            <mat-option value="SingleMan">A Single Man</mat-option>
            <mat-option value="SingleWoman">A Aingle Woman</mat-option>
            <mat-option value="MarriedWoman">A Married Woman</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  <div class="onerow">
    <mat-form-field class="matformfield">
      <mat-select class="form-control matformfield" name="EstateHeldType" [(ngModel)]="loanDetail.EstateHeldType" placeholder="Estate Held in">
        <mat-option value="Fee Simple">Fee Simple</mat-option>
        <mat-option value="LeaseHold">Lease Hold</mat-option>        
      </mat-select>
    </mat-form-field>
  </div>
    -->