<div id="CoBorSection" class="workspace">
  <span class="workspaceHeader">Spouse Information</span>
  <div>
    Are you applying with your spouse?
  </div>
  <div>
    <mat-button-toggle-group #group="matButtonToggleGroup" [ngModel]="borrowerInfo.ApplyingWithSpouse" name="applyingWithSpouse"
      class="mat-button-toggle mat-button-toggle-checked">
      <mat-button-toggle value="Yes" (click)="enableCoborrowerSection('Yes')">
        <mat-icon *ngIf="borrowerInfo.ApplyingWithSpouse=='Yes'">checked</mat-icon>
        <span>Yes</span>
      </mat-button-toggle>
      <mat-button-toggle value="No" (click)="enableCoborrowerSection('No')">
        <mat-icon *ngIf="borrowerInfo.ApplyingWithSpouse=='No'">checked</mat-icon>
        <span>No</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div *ngIf="borrowerInfo.ApplyingWithSpouse=='Yes'">
    <div>
      <mat-form-field class="matformfield">
        <input class="form-control" type="text" matInput placeholder="First Name" required [(ngModel)]="borrowerInfo.CoBorFirstName"
          name="coBorFirstName">
        <mat-error>
          First Name is requied!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="matformfield">
        <input matInput class="form-control" type="text" placeholder="Middle Name" [(ngModel)]="borrowerInfo.CoBorMiddleName" name="coBorMiddleName">

      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="matformfield">
        <input class="form-control" type="text" matInput placeholder="Last Name" required [(ngModel)]="borrowerInfo.CoBorLastName"
          name="coBorLastName">
        <mat-error>
          Last Name is requied!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="matformfield">
        <input class="form-control" type="text" matInput placeholder="Suffix" [(ngModel)]="borrowerInfo.CoBorNameSuffix" name="coBorNameSuffix">
      </mat-form-field>

    </div>
    <div>
      <mat-form-field class="matformfield">
        <input class="form-control" type="text" matInput placeholder="Primary Phone Nubmer" required [(ngModel)]="borrowerInfo.CoBorPrimaryPhoneNumber"
          name="coBorPrimaryPhoneNumber">
        <mat-error>
          Primary Number is requied!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="matformfield">
        <input class="form-control" type="text" matInput placeholder="Email Id" required [(ngModel)]="borrowerInfo.CoBorEmailId"
          name="coBorEmailId">
        <mat-error>
          Email Id is requied!
        </mat-error>
      </mat-form-field>
    </div>

  </div>
</div>
<div>
  <button mat-raised-button class="fullLoanApp-primary-button fullLoanApp-button" (click)="saveSpouseBasicInfo('previous')">Previous</button>
  <button mat-raised-button class="fullLoanApp-primary-button fullLoanApp-button" (click)="saveSpouseBasicInfo('next')">Next</button>
</div>