<div  class="TableTitle">
  <span>Closing Cost Calculation</span>
</div>
<div>
  <table class="table cashToClose-table">
  <tr>
    <td>Total closing cost (J)</td>
    <td class="tdAmount">$8,054</td>
  </tr>
  <tr>
    <td>Closing Costs Financed (paid from Loan Amount)</td>
    <td class="tdAmount">$0</td>
  </tr>
  <tr>
    <td>Down Payment / Funds from Borrower</td>
    <td class="tdAmount">$18,000</td>
  </tr>
  <tr>
    <td>Deposits</td>
    <td class="tdAmount">-$10,000</td>
  </tr>
  <tr>
    <td>Funds for Borrower</td>
    <td class="tdAmount">$0</td>
  </tr>
  <tr>
    <td>Seller Credit</td>
    <td class="tdAmount">$0</td>
  </tr>
  <tr>
    <td>Adjustments</td>
    <td class="tdAmount">$0</td>
  </tr>
  <tr><td >&nbsp;</td><td></td></tr>
  <tr>
    <td>Estimated Cash to Close</td>
    <td class="tdAmount">$16,054</td>
  </tr>
</table>

</div>

<div class="mat-dialog-actions" mat-dialog-actions="" style="float:right;">
  
  <!--<button mat-button="" class="mat-button">
    <span class="mat-button-wrapper">No Thanks</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
-->

<div >
  <button cdkfocusinitial="" mat-button="" type="button" class="mat-button" aria-label="Close dialog" (click)="closeCashToCloseDialiog()" >
    <span class="mat-button-wrapper">Ok</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>    
  </button>
</div>

</div>