<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
  crossorigin="anonymous">

<div class="workspaceLiabilities">
  <div>
    <span class="workspaceHeader">Current Liabilities on Loan</span>
  </div>
  <div class="asset_mainDiv">
    <div class="assetBorderDiv">&nbsp;</div>
    <div class="asset-tableDiv">
      <table class="asset-tabelMain" id="liabilityTable">
        <thead>
          <tr class="table_row ">
            <th class="table_hedingTxt asset-paddingLeftcustom"></th>
            <th class="table_hedingTxt liability-dynamic-text" desktop-txt="Creditor Name" mobile-txt="Name">Name</th>
            <th class="table_hedingTxt liability-dynamic-text" desktop-txt="Liability Type" mobile-txt="Type">Type</th>
            <th class="table_hedingTxt liability-dynamic-text table_colrightAlign" desktop-txt="Balance" mobile-txt="Balance">Balance</th>
            <th class="table_hedingTxt liability-dynamic-text table_colrightAlign" desktop-txt="Payment" mobile-txt="Pymt">Payment</th>
            <th class="table_hedingTxt liability-dynamic-text" desktop-txt="Pay Off" mobile-txt="Payoff">Payoff</th>
            <th class="table_hedingTxt liability-dynamic-text" desktop-txt="Exclude" mobile-txt="Excl">Exclude</th>
            <th class="table_hedingTxt"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table_row add_clickForRow">
            <td class="table_bodyTxt asset-paddingLeftcustom" ng-reflect-title="Margaret Testco" title="Margaret Testco">
              <span class="fa fa-user"></span>
            </td>
            <td class="table_bodyTxt " title="Other Liabilities">WELLS FARGO HM MORTGAG</td>
            <td class="table_bodyTxt">
              &nbsp; Mortgage
            </td>
            <td class="table_bodyTxt table_colrightAlign">$ 72,175.00</td>
            <td class="table_bodyTxt table_colrightAlign">$ 1,356.00</td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox" ng-reflect-value="false" value="false">
            </td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox">
            </td>
            <td class="table_bodyTxt " title="Edit">
              <span ng-reflect-ng-class="[object Object]" class="fa fa-angle-up table_editSpan">
              </span>
            </td>
          </tr>
          <tr class="table_row add_clickForRow">
            <td class="table_bodyTxt asset-paddingLeftcustom" ng-reflect-title="Margaret Testco" title="Margaret Testco">
              <span class="fa fa-user"></span>
            </td>
            <td class="table_bodyTxt " title="Other Liabilities">CU OF SOUTHERN CA</td>
            <td class="table_bodyTxt">
              &nbsp; Auto
            </td>
            <td class="table_bodyTxt table_colrightAlign">$ 17,276.00</td>
            <td class="table_bodyTxt table_colrightAlign">$ 337.00</td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox" ng-reflect-value="false" value="false">
            </td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox">
            </td>
            <td class="table_bodyTxt " title="Edit">
              <span ng-reflect-ng-class="[object Object]" class="fa fa-angle-up table_editSpan">
              </span>
            </td>
          </tr>
          <tr class="table_row add_clickForRow">
            <td class="table_bodyTxt asset-paddingLeftcustom" ng-reflect-title="John Homeowner" title="John Homeowner">
              <span class="fa fa-user"></span>
            </td>
            <td class="table_bodyTxt " title="Other Liabilities">CU OF SOUTHERN CA</td>
            <td class="table_bodyTxt">
              &nbsp; Auto
            </td>
            <td class="table_bodyTxt table_colrightAlign">$ 10,354.00</td>
            <td class="table_bodyTxt table_colrightAlign">$ 283.00</td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox" ng-reflect-value="false" value="false">
            </td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox">
            </td>
            <td class="table_bodyTxt " title="Edit">
              <span ng-reflect-ng-class="[object Object]" class="fa fa-angle-up table_editSpan">
              </span>
            </td>
          </tr>
          <tr class="table_row add_clickForRow">
            <td class="table_bodyTxt asset-paddingLeftcustom" ng-reflect-title="Margaret Testco" title="Margaret Testco">
              <span class="fa fa-user"></span>
            </td>
            <td class="table_bodyTxt " title="Other Liabilities">PROVDIN BP</td>
            <td class="table_bodyTxt">
              &nbsp; Revolving
            </td>
            <td class="table_bodyTxt table_colrightAlign">$ 8,024.00</td>
            <td class="table_bodyTxt table_colrightAlign">$ 160.00</td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox" ng-reflect-value="false" value="false">
            </td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox">
            </td>
            <td class="table_bodyTxt " title="Edit">
              <span ng-reflect-ng-class="[object Object]" class="fa fa-angle-up table_editSpan">
              </span>
            </td>
          </tr>
          <tr class="table_row add_clickForRow">
            <td class="table_bodyTxt asset-paddingLeftcustom" ng-reflect-title="Margaret Testco" title="Margaret Testco">
              <span class="fa fa-user"></span>
            </td>
            <td class="table_bodyTxt " title="Other Liabilities">MBNA AMERICA BANK NA</td>
            <td class="table_bodyTxt">
              &nbsp; Revolving
            </td>
            <td class="table_bodyTxt table_colrightAlign">$ 6,006.00</td>
            <td class="table_bodyTxt table_colrightAlign">$ 21.00</td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox" ng-reflect-value="false" value="false">
            </td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox">
            </td>
            <td class="table_bodyTxt " title="Edit">
              <span ng-reflect-ng-class="[object Object]" class="fa fa-angle-up table_editSpan">
              </span>
            </td>
          </tr>
          <tr class="table_row add_clickForRow">
            <td class="table_bodyTxt asset-paddingLeftcustom" ng-reflect-title="Margaret Testco" title="Margaret Testco">
              <span class="fa fa-user"></span>
            </td>
            <td class="table_bodyTxt " title="Other Liabilities">CHASE</td>
            <td class="table_bodyTxt">
              &nbsp; Revolving
            </td>
            <td class="table_bodyTxt table_colrightAlign">$ 223.00</td>
            <td class="table_bodyTxt table_colrightAlign">$ 10.00</td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox" ng-reflect-value="false" value="false">
            </td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox">
            </td>
            <td class="table_bodyTxt " title="Edit">
              <span ng-reflect-ng-class="[object Object]" class="fa fa-angle-up table_editSpan">
              </span>
            </td>
          </tr>
          <tr class="table_row add_clickForRow">
            <td class="table_bodyTxt asset-paddingLeftcustom" ng-reflect-title="Margaret Testco" title="Margaret Testco">
              <span class="fa fa-user"></span>
            </td>
            <td class="table_bodyTxt " title="Other Liabilities">CAPITAL ONE BANK</td>
            <td class="table_bodyTxt">
              &nbsp; Revolving
            </td>
            <td class="table_bodyTxt table_colrightAlign">$ 103.00</td>
            <td class="table_bodyTxt table_colrightAlign">$ 20.00</td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox" ng-reflect-value="false" value="false">
            </td>
            <td class="table_bodyTxt">
              <input style="display:block;" type="checkbox">
            </td>
            <td class="table_bodyTxt " title="Edit">
              <span ng-reflect-ng-class="[object Object]" class="fa fa-angle-up table_editSpan">
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="table_row">
            <td class="table_totCell_td asset-paddingLeft"></td>
            <td class="table_totCell_td"></td>
            <td class="table_totCell_td"></td>
            <td class="table_totCell_td">
              <span class="table_totHedTxt table_colrightAlign">Total Liabilities</span>
              <span class="table_totAmtTxt table_colrightAlign">$ 114,161.00</span>
            </td>
            <td class="table_totCell_td">
              <span class="table_totHedTxt table_colrightAlign">Total Payments</span>
              <span class="table_totAmtTxt table_colrightAlign">$ 2,187.00</span>
            </td>
            <td class="table_totCell_td"></td>
            <td class="table_totCell_td"></td>
            <td class="table_totCell_td"></td>
          </tr>
        </tfoot>
      </table>
      <div class="Add_Row_contDiv">
        <span class="Add_detail_span ">+Add Another Liability</span>
      </div>
    </div>

    <div class="addLiabilityGroup" *ngIf="addLiabilityIcons">
      <div class="addLiabilityIconConvDiv" (click)="createLiabilityNew(this.curr_selectedUserId,'Alimony')">
        <span class="fa fa-gavel addLiabilityIconSpan"></span>
        <span class="addLiabilityIconTxtSpan">Alimony</span>
      </div>
      <div class="addLiabilityIconConvDiv" (click)="createLiabilityNew(this.curr_selectedUserId,'AdditionCredit')">
        <span class="fa fa-credit-card addLiabilityIconSpan"></span>
        <span class="addLiabilityIconTxtSpan">Addition Credit</span>
      </div>
      <div class="addLiabilityIconConvDiv" (click)="createLiabilityNew(this.curr_selectedUserId,'Mortage')">
        <span class="fa fa-home addLiabilityIconSpan"></span>
        <span class="addLiabilityIconTxtSpan">Mortage</span>
      </div>
      <div class="addLiabilityIconConvDiv" (click)="createLiabilityNew(this.curr_selectedUserId,'OtherLiabilities')">
        <span class="fa fa-ellipsis-h addLiabilityIconSpan"></span>
        <span class="addLiabilityIconTxtSpan">Other Liabilities</span>
      </div>
      <div class="addLiabilityIconConvDiv" (click)="createLiabilityNew(this.curr_selectedUserId,'JobRelatedExpenses')">
        <span class="fa fa-briefcase addLiabilityIconSpan"></span>
        <span class="addLiabilityIconTxtSpan ">Job Related Expenses</span>
      </div>
    </div>

    <div>
      <div *ngIf="addEditLability">
        <div class="oneRow">
          <mat-form-field class="matformfield">
            <mat-select class="form-control matformfield" name="" [(ngModel)]="placeholder" placeholder="Liability Type" required>
              <mat-option>Select One</mat-option>
              <mat-option value="AlimonyChildSupport">Alimony/Child Support</mat-option>
              <mat-option value="MillitaryBase">Millitary Base</mat-option>
              <mat-option value="PensionRetirementIncome">Pension/Retirement Income</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="matformfield">
            <mat-select class="form-control matformfield" name="" [(ngModel)]="placeholder" placeholder="Lien Position" required>
              <mat-option>Select One</mat-option>
              <mat-option value="FirstLien">First Lien</mat-option>
              <mat-option value="SecondLien">Second Lien</mat-option>
            </mat-select>
          </mat-form-field>


        </div>
        <div class="oneRow">
          <mat-form-field class="matformfield">
            <mat-select class="form-control matformfield" name="" [(ngModel)]="placeholder" placeholder="Property Address" required>
              <mat-option>Select One</mat-option>
              <mat-option value="AlimonyChildSupport">123 Maple St, Glendale</mat-option>
              <mat-option value="MillitaryBase">456 Milford Ave, Los Agneles</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="matformfield">
            <input class="form-control" type="text" matInput placeholder="Current Balance Amt" [(ngModel)]="placeholder" name="">
          </mat-form-field>
        </div>
        <div class="oneRow">
          <mat-form-field class="matformfield">
            <input class="form-control" type="text" matInput placeholder="Lender's Name" [(ngModel)]="placeholder" name="">
          </mat-form-field>
          <mat-form-field class="matformfield">
            <input class="form-control" type="text" matInput placeholder="Account Number" [(ngModel)]="placeholder" name="">
          </mat-form-field>
        </div>

        <div class="oneRow">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 alignRight">
            <button class="full1003-secondary-button" (click)="SaveCancelLiability('Cancel')">Cancel</button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <button class="full1003-primary-button okBtn" (click)="SaveCancelLiability('Save')">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-buttons">
  <button mat-raised-button class="fullLoanApp-secondary-button fullLoanApp-button" (click)="saveEmploymentIncome('previous')">Previous</button>
  <button mat-raised-button class="fullLoanApp-primary-button fullLoanApp-button" (click)="saveEmploymentIncome('next')">Next</button>
</div>