<h1>Choose option to login</h1>

<div class="g-signin2" style="display: inline-flex;top: 2px;position: relative;" data-height="32px" data-width="108px" 
data-onsuccess="onGoogleSignIn"
    data-theme="dark"></div>

<br/>
<br/>
<div>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true"
        data-use-continue-as="true"></div>

    <div class="fb-like" data-href="https://www.facebook.com/Khatchik-1051084355039453/" data-width="500" data-layout="button_count"
        data-action="like" data-size="large" data-show-faces="true" data-share="true" data-theme="true"></div>
</div>